<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.740241109999-s31p93nhbrdtr9ropf4bkfoaa6irvhje</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>district</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>740241109999-s31p93nhbrdtr9ropf4bkfoaa6irvhje.apps.googleusercontent.com</string>
</dict>
</plist>
